.eBay-options{
    color: black;
    font-size: 2.0rem;
    padding: 0 1rem; 
  }
  .eBay-options::before{
    cursor: pointer;
  }
#option-negative:hover::before{
color: red;
}
#option-negative.checked{
  color : red;
}

#option-neutral:hover::before{
  color: orange;
}
#option-neutral.checked{
  color: orange;
}


#option-positive:hover::before{
  color:green;
}
#option-positive.checked{
  color:green;
}

