.eBay-options{
    color: black;
    font-size: 2.0rem;
    padding: 0 1rem; 
  }
.eBay-options::before{
    cursor: pointer;
}
.neg:hover::before{
color: red;
}
.neg.checked{
  color : red;
}

.neut:hover::before{
  color: orange;
}
.neut.checked{
  color: orange;
}


.pos:hover::before{
  color:green;
}
.pos.checked{
  color:green;
}

