.liking-options{
    color: black;
    /* font-size: 1.2rem; */
    overflow: hidden;
    height: auto;
    max-height: 20%;

}
.pos{
    float:left;
    position: relative;
}


i.pos {
    padding-top: 3px ;
}

i.neg {
    padding-top: 3px;
}

p.pos{
    margin-right: 5px;
}

i.pos:hover{
    color: green;
}

i.pos.checked{
    color: green;
  }
.neg{
    float:left;
    position: relative;
}
i.neg:hover{
    color: red;
}

i.neg.checked{
    color: red;
  }

