.liking-options{
    color: black;
    font-size: 1.2rem;
    overflow: hidden;
    padding-right: 20px;

}
.pos{
    float:left;
}
.pos:hover{
    color: green;
}

.pos.checked{
    color: green;
  }
.neg{
    float:left;
}
.neg:hover{
    color: red;
}

.neg.checked{
    color: red;
  }

