
.stars{
  overflow: hidden;
}

.star{
  color: goldenrod;
  font-size: 1.0rem;
  vertical-align: middle;
  padding: 0 0.25rem;
  float: left;
  }

.star::before{
  content: '\2606';
  cursor: pointer;
  float: left;
}

.star.rated::before{
  content: '\2605';
}

.star.hover::before{
  content: '\2605';
}


